.button-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1em;
}

button.button {
    font-size: 1.2em;
    padding: 1em 5em;
}

@media(min-width: 768px) {
    button.button {
        padding: 1em 13em;
    }

    .button-container {
        margin-top: 2em;
    }
}