body {
  height: 100vh;
  background-image: linear-gradient(to bottom right, #fcf2e8, rgb(254, 247, 240))
}

.application {
  text-align: center;
  margin-top: 2%;
}


.flip-card,
.next-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.flippy-card.flippy-front {
  background-color: #AC93AC;
  box-shadow: 10px 10px 0px 4px rgb(55, 42, 55);
}

.flippy-card.flippy-back {
  color: white;
  background-color: #263954;
  box-shadow: 10px 10px 0px 4px #1f2630;

}

@media(min-width: 768px) {}